{% extends "layout.html" %}
{% block content %}
 
 <div style=" justify-content: center; display: flex;">
 <fieldset>
  <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
                     <div style="margin: 10px;">
                    <li><div class="form-group">
                     <font color="#fff"> {{ form.endTime.label(class="form-control-label") }}</font>
                    {% if form.endTime.errors %}
                        {{ form.endTime(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.endTime.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.endTime(class="form-control form-control-lg") }}
                    {% endif %}
                </div> </div></li>
                    
                    
                     
              
                
                
                
                 <li>     <div class="form-group">
               <center> {{ form.submit(class="btn-show-contact100") }}</center>
            </div></li>
            
            </form>
          
            	
                </fieldset>
                </div>
                  <center><a href="{{ url_for('admin_front') }}"><button class="btn-show-contact10">
				  Back
				  </button>
				</a></center>
                
                
                    
                    
{% endblock content %}