{% extends "layout.html" %}
{% block content %}

<fieldset class="contact100-choices">
	<div style="margin: 25px;">
					<a href="{{url_for('changepass')}}"><button class="btn-show-contact1000">
				  Change Password
				</button>
			</div>

			<div style="margin: 25px">
				<a href="{{url_for('startstop',worktype='apartmentrehab')}}"><button class="btn-show-contact1000">
				 Change Email
				</button>
			</div>
			<div style="margin: 25px">
					<a href="{{ url_for('logout') }}"><button class="btn-show-contact1000">
				  Change Phone
				</button>
				</div>
				
        <div style="margin: 25px">
					<center><a href="{{ url_for('front') }}"><button class="btn-show-contact10">
				  Back
				</button></center>
				</div>
				
	<!--  
	<div style="margin: 25px">
				<a href="{{url_for('startstop',worktype='landscaping')}}"><button class="btn-show-contact100">
				 Log out
				</button>
			</div>
			
			<div style="margin: 25px">
				<a href="{{url_for('startstop',worktype='pestcontrol')}}"><button class="btn-show-contact100">
				 PestControl
				</button>
			</div>
			
			<div style="margin: 25px">
				<a href="{{url_for('startstop',worktype='others')}}"><button class="btn-show-contact100">
				  Others
				</button>
				</div> 
				-->
			
			</fieldset>
{% endblock content %}